* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight:bolder;
    text-align: center;
}

input {
    width: 100%;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

input:focus {
    border-color: #2611e3;
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #333;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #abde93;
    color: #333;
}

/* You will use these from JavaScript */

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}

/* #emailerror {
    display: none;
} */


#resultmessage {
    margin-top: 10px;
    font-weight: bold;
    font-size: 15px;
   color: #67e22e;
    text-align: center;
}